<table mat-table [dataSource]="sensorData" class="sensor-table mat-elevation-z1">

  <ng-container matColumnDef="assetName">
    <th mat-header-cell *matHeaderCellDef>Asset Name</th>
    <td mat-cell *matCellDef="let sensorDataRecord">{{sensorDataRecord.assetName}}</td>
  </ng-container>

  <ng-container matColumnDef="assetId">
    <th mat-header-cell *matHeaderCellDef fxShow fxHide.lt-md>Asset ID</th>
    <td mat-cell *matCellDef="let sensorDataRecord" fxShow fxHide.lt-md>{{sensorDataRecord.assetId}}</td>
  </ng-container>

  <ng-container matColumnDef="warehouseId">
    <th mat-header-cell *matHeaderCellDef fxShow fxHide.lt-md>Warehouse ID</th>
    <td mat-cell *matCellDef="let sensorDataRecord" fxShow fxHide.lt-md>{{sensorDataRecord.warehouseId}}</td>
  </ng-container>

  <ng-container matColumnDef="lastMeasurementsReceived">
    <th mat-header-cell *matHeaderCellDef>Most Recent Values</th>
    <td mat-cell *matCellDef="let sensorDataRecord">
      <p *ngFor="let measurement of sensorDataRecord.lastMeasurementsReceived">
        <b>{{measurement.key}}:</b> {{measurement.value | number: '1.2-2'}}
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastValueReceivedAt">
    <th mat-header-cell *matHeaderCellDef>Last Value Received At</th>
    <td mat-cell
        *matCellDef="let sensorDataRecord">{{sensorDataRecord.lastMeasurementReceivedAt | date:'dd/MM/yy HH:MM:ss'}}</td>
  </ng-container>

  <ng-container matColumnDef="liveDataButton">
    <th mat-header-cell *matHeaderCellDef fxShow fxHide.lt-md></th>
    <td mat-cell *matCellDef="let sensorDataRecord" fxShow fxHide.lt-md>
      <a mat-stroked-button [routerLink]="['/live', sensorDataRecord.assetName]">Show Live Data</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="recordButton">
    <th mat-header-cell *matHeaderCellDef fxShow fxHide.lt-md></th>
    <td mat-cell *matCellDef="let sensorDataRecord" fxShow fxHide.lt-md>
<!--      <ng-container *ngIf="!(activeRecordings$ | async)[sensorDataRecord.assetName]; then startRecording; else stopRecording">-->
<!--      </ng-container>-->
      <ng-container *ngIf="!(activeRecordings$ | async)[sensorDataRecord.assetName]" >
        <a (click)="recordingService.startRecording(sensorDataRecord.assetName)" mat-stroked-button>Start Recording</a>
      </ng-container>
      <ng-container *ngIf="(activeRecordings$ | async)[sensorDataRecord.assetName]">
        <a (click)="recordingService.stopRecording(sensorDataRecord.assetName)" mat-stroked-button>Stop Recording</a>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
