<mat-sidenav-container class="navbar">
  <mat-sidenav #sidenav mode="over" autoFocus="false">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="activeLink" (click)="sidenav.close()">
        <!--      <a mat-list-item routerLink="/">-->
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
      </a>
      <a mat-list-item routerLink="/live" routerLinkActive="activeLink" (click)="sidenav.close()">
        <mat-icon mat-list-icon>ondemand_video</mat-icon>
        <span class="nav-caption">Live</span>
      </a>
      <a mat-list-item routerLink="/recordings" routerLinkActive="activeLink" (click)="sidenav.close()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span class="nav-caption">Recordings</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="header-toolbar" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button (click)="sidenav.toggle()">RIA Sensor UI</button>
      <span class="fill-remaining-space"></span>
      <!--      <a mat-button href="/">RESET</a>-->
    </mat-toolbar>

    <div id="head-pusher"></div>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
