/*:host {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-wrap: wrap;*/
/*}*/
.sensor-plot {
  /*min-width: %;*/
  text-align: center;
  margin: 1%;
}

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sensor-plot-container {
  width: 80%;
}

@media screen and (max-width: 960px) {
  .sensor-plot-container {
    width: 100%;
  }
}
